// Fonts
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700|Montaga);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

$josefin: 'Josefin Sans', sans-serif;
$montaga: 'Montaga', serif;
$montserrat: 'Montserrat', sans-serif;

$base-font-size: 18px;

// Colors

$dark-blue: #2e435a;
$pink: #fe3264;
$teal: #06c2c0;
$white: white;

$off-white: #ecf0f1;
$light-gray: #e6e8ea;

$deactive-gray: #bec2c8;
$silver: #83888f;

// Measures

$topbar-height: 90px;
$sidebar-width: 250px;
