$topbar-background: darken($dark-blue, 5%);
$logo-text-color: $teal;

.es-topbar {
    width: 100%;
    height: $topbar-height;
    background-color: $topbar-background;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    .logo-area {
        float: left;
        margin-left: 10px;
        padding-top: 10px;
    }
}

.es-logo {
    color: $logo-text-color;
    text-transform: lowercase;
    font-size: 38px;
}

.es-tagline {
    color: $white;
    text-transform: uppercase;
    font-size: 10px;
}

.es-topbar--profile {
    float: right;
    position: relative;
    color: $white;
    padding: 20px;
}
